<%- include("header") %>

  <style>

    #dottedBox {
      border: 2px dotted;
      margin: 30px auto;
      margin-top: 45px;
      padding: 30px 20px;
      padding-bottom: 60px;
      width: 75%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media screen and (max-width: 1000px) {

      #dottedBox {
        flex-direction: column;
        padding: 70px 20px;
        width: 90%;
      }

    }
  </style>
</head>

<body>
 
  <div id="dottedBox">
      
    

  </div>


  <!-- divs used for displaying messages passed on to ejs using res.render (rest is done below using jQuery) -->
  <div id="updateMessage" style="display:none"><%= message %></div>

  <!-- footer -->
  <%- include("footer") %>



  <script>

     // jQuery code to display a toast message on recieving message through res.render 
     if (document.querySelector("#updateMessage").innerHTML != "") {
        $('#updateMessage')
          .toast({
            class: 'success',
            message: document.querySelector("#updateMessage").innerHTML,
            closeIcon: true,
          })
          ;
      }

  </script>

</body>

</html>