<%- include("header") %>

  <div id="container">


    <!-- Top Section -->
    <div id="blog-header" style="text-align:center;">
      <h2 class="myAnnotation" style="width: fit-content;margin: 0 auto;font-size:3.4rem;">#BLOGS</h2>

      <h3 style="text-align:center;font-size:1.8rem;">Read the best and knowledge enriched blogs here</h3>
      <div class="label-container">
        <div class="ui label">
          #Javascript
        </div>
        <div class="ui label">
          #Programming
        </div>
        <div class="ui label">
          #Git/Github
        </div>
        <div class="ui label">
          #WebDevelopment
        </div>
        <div class="ui label">
          #ReactJS
        </div>
        <div class="ui label">
          #NodeJS
        </div>
        <div class="ui label">
          #SelfImprovement
        </div>
        <div class="ui label">
          #LifeLessons
        </div>
        <div class="ui label">
          #Design
        </div>
        <div class="ui label">
          #Python
        </div>
        <div class="ui label">
          #Coding
        </div>
        <div class="ui label">
          #DataScience
        </div>
        <div class="ui label">
          #Technology
        </div>
      </div>
    </div>


    <% let length; if(data) { dataLength=data.length; } let myBoxes=``; for(let i=0 ; i<dataLength;i++) {
      if(data[i].permission=="true" ) { myBoxes +=` <style>
      #myBlogBox${i}::before{
      background: url('${data[i].imageurl}') center center/cover;
      }
      </style>

      <div class="blogBox" id="myBlogBox${i}">
        <div class="one">
          <p>${data[i].date}</p>
          <h3 style="margin-top: 135px; font-size: 2.2rem">${data[i].title}</h3>
          <p style="position: absolute; bottom: 30px">${data[i].authorName}</p>
        </div>
        <div class="two">
          <p style="font-size: 1.1rem;width: 90%;position:absolute;top: 60px;left: 15px;">${data[i].shortDescription}
          </p>
          <form action="/myblog" method="post">
            <input type="number" value="${i}" name="uniqueId" style="display: none" />
            <button read="5" class="ui inverted violet button btn readBtn"
              style="position:absolute;bottom: 40px;left: 30px;" type="submit">
              Read More
            </button>
          </form>
        </div>
      </div>

      `; } } %>

      <div id="userBlogs">
        <%- myBoxes %>
      </div>

      <div style="text-align: center; font-size: 1.5rem; margin-top: 60px;margin-bottom:80px;">
        <p style="color: #7510F7">Want to see more.</p>
        <p style="color: #393e46">Why don't write one?</p>
        <a href="/userblog"><button class="ui big inverted violet button" type="submit" name="action">
            Add one &nbsp;&nbsp;&nbsp;
            <i class="fa fa-plus"></i>
          </button></a>

      </div>
  </div>



  <%- include("footer") %>

    <script>
      let readBtn = document.querySelectorAll(".readBtn");

      for (let i = 0; i < readBtn.length; i++) {
        readBtn[i].addEventListener("click", () => {
          let readAtr = readBtn[i].getAttribute("read");
          localStorage.setItem("readAttribute", readAtr);
        });
      }
      readBtn;

      var one = document.querySelectorAll(".one");
      var two = document.querySelectorAll(".two");
      var blogBox = document.querySelectorAll(".blogBox");

      for (let i = 0; i < blogBox.length; i++) {
        blogBox[i].addEventListener("mouseover", function () {
          one[i].style.display = "none";
          two[i].style.display = "block";
        });
        blogBox[i].addEventListener("mouseout", function () {
          one[i].style.display = "block";
          two[i].style.display = "none";
        });
      }

    </script>

    <script>
      myFunction();
      window.onscroll = function () { myFunction() };
      function myFunction() {
        if (document.body.scrollTop > 390 || document.documentElement.scrollTop > 390) {
          document.getElementById("followingMenu").style.display = "flex";
          // document.getElementById("topMenu").style.display = "none";
        } else {
          // document.getElementById("topMenu").style.display = "flex";
          document.getElementById("followingMenu").style.display = "none";
        }
      }

    </script>

    <!-- annotation -->

    <script type="module">
      import { annotate } from 'https://unpkg.com/rough-notation?module';
      const e = document.querySelectorAll('.myAnnotation');
      for (let i = 0; i < e.length; i++) {
        const annotation = annotate(e[i], { type: 'underline', color: 'yellow' });
        annotation.show();
      }
    </script>

    </body>

    </html>