<%- include("header") %>
<style>

</style>
<!-- Outer Container -->
<div class="course-container">
  <div class="front-section">
    <div class="intro-text">
      <h2>Learn Better</h2>
      <br />
      <button class="big ui inverted grey right labeled icon button" id="start-btn">
        <i class="right arrow icon"></i>
        Next
      </button>
    </div>
    <div class="img-box">
      <img src="images/Studying-rafiki.png" alt="studying-student">
    </div>
  </div>
</div>
<!-- Features -->
<div class="course-feature-container">
  <h2>FEATURES</h2>
  <div class="feature-box">
    <div class="feature-section" id="fone">
      <h3 class="left-text">Multiple Tracks to study from i.e Web Development, Android Development.etc</h3>
      <i class="fa fa-object-group" aria-hidden="true" class="right-icon"></i>
    </div>
    <div class="feature-section" id="ftwo" style="margin-top:90px;">
      <i class="fa fa-object-group" aria-hidden="true" class="left-icon"></i>
      <h3 class="right-text">You can sort or filter courses on the basis of your skill set and knowledge level.</h3>
    </div>
    <div class="feature-section" id="fthree" style="margin-top:90px;">
      <h3 class="left-text">Multiple Tracks to study from i.e Web Development, Android Development.etc</h3>
      <i class="fa fa-object-group" aria-hidden="true" class="right-icon"></i>
    </div>
    <div class="feature-section" id="ffour" style="margin-top:90px;">
      <i class="fa fa-object-group" aria-hidden="true" class="left-icon"></i>
      <h3 class="right-text">You can sort or filter courses on the basis of your skill set and knowledge level.</h3>
    </div>


  </div>
</div>
<!-- Feature Section Ends -->
<div class="cta">
   <div class="cta-heading">
     <h2 style="text-align: center;">How To Avail?</h2>
     <h3 style="text-align: center;">No Need to Worry,We will guide you!!!</h3>
   </div>
   <div class="cta-step">
     <!-- first Step -->
     <div class="step" id="first-step">
       <div class="left-icon">
        <i class="fa fa-check" aria-hidden="true"></i>
       </div>
       <div class="right-text">
        <h2>Fill the Form</h2>
        <h4>Read blogs to help you choose your tracks</h4>
       </div>
     </div>
     <div class="mid-line"></div>
     <!-- Second Step -->
     <div class="step" id="second-step">
      <div class="left-icon">
       <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <div class="right-text">
       <h2>Fill the Form</h2>
       <h4>Read blogs to help you choose your tracks</h4>
      </div>
    </div>
    <div class="mid-line"></div>
    <!-- Third Step -->
    <div class="step" id="third-step">
      <div class="left-icon">
       <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <div class="right-text">
       <h2>Fill the Form</h2>
       <h4>Read blogs to help you choose your tracks</h4>
      </div>
    </div>
    </div>
</div>
<!-- CTA SECTION ENDS-->

<!-- Specialization Section Starts-->
<div class="specialization">
  <h2 id="specialization-heading">Top Courses</h2>
  <div class="mid-line" style="margin-left:auto;margin-right:auto;"></div>
  <!-- Web Development -->
  <div class="web">
    <h2 id="web-heading1">Web Development
    </h2>
    <h2 id="web-heading2">
      Boot<br>Camp
    </h2>
    <h3 id="web-heading3">Take Your First Step in Web Development
      Lorem ipsum dolor sit amet consectetur.
    </h3>
    <!-- Get Started Btn -->
    <button class="ui inverted grey button" id="web-btn">Get Started</button>
    <!-- Bottom Strip -->
    <div class="web-bottom-strip">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/actions/starter-workflows/master/icons/html.svg" alt="html-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/gilbarbara/logos/master/logos/css-3.svg" alt="strip-image">
      <img class="web-strip-image" src="https://gitlab.svg.zone/omniait/developer-logos/raw/master/logos/front-end-web/javascript.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/jquery/jquery-original-wordmark.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/detain/svg-logos/master/svg/nodejs-1.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="strip-image">
    </div>
  </div>
  <!-- separation between android and web-->
  <div class="mid-line" style="margin-left:auto;margin-right:auto;border-left: 8px dashed blue;height:100px;"></div>
  <!-- Android Development -->
  <div class="android">
    <h2 id="android-heading1">Andorid Development
    </h2>
    <h2 id="android-heading2">
      Boot<br>Camp
    </h2>
    <h3 id="android-heading3">Take Your First Step in Android Development
      Lorem ipsum dolor sit amet consectetur.
    </h3>
    <!-- Get Started Btn -->
    <button class="ui inverted grey button" id="android-btn">Get Started</button>
    <!-- Bottom Strip -->
    <div class="web-bottom-strip">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/actions/starter-workflows/master/icons/html.svg" alt="html-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/gilbarbara/logos/master/logos/css-3.svg" alt="strip-image">
      <img class="web-strip-image" src="https://gitlab.svg.zone/omniait/developer-logos/raw/master/logos/front-end-web/javascript.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/jquery/jquery-original-wordmark.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/detain/svg-logos/master/svg/nodejs-1.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="strip-image">
      <img class="web-strip-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="strip-image">
    </div>
  </div>
</div>


<!-- Footer -->
<%- include("footer") %>

<!-- Fomantic Select Box -->
<script>
  $('.selection.dropdown')
    .dropdown();
</script>
<!-- annotation -->
<script type="module">
  import { annotate } from 'https://unpkg.com/rough-notation?module';
      const e = document.querySelectorAll('.myAnnotation');
      for (let i = 0; i < e.length; i++) {
        const annotation = annotate(e[i], { type: 'underline', color: 'yellow' });
        annotation.show();
      }
</script>

</body>

</html>