
<%- include("header") %>


  <div id="container">
    <div id="wave">
      <img src="https://jssaten.ac.in/Lib/img/LibraryPics/Lib2.jpg" alt="">
      <p>An e-library exclusively for JSS
        students, where all your academic's will be fulfilled. Here you will find all the books, materials,
        notes and question papers shared ever by any of the student or professor. You will also find certain
        filters to be applied in way to find the materials of a particular department and year easily.</p>
    </div>
    <h3 style="margin-left: 17.1%;margin-top: 45px;margin-bottom: 60px;color: #5e6f64;">Filter the resources as per
      your need</h3>
    <div class="year">
      <div class="box1">
        <img
          src="https://www.une.edu/sites/default/files/styles/full_width/public/shared/first-year-plan_0.png?itok=975IQe8r"
          alt="FIRST YEAR">

      </div>
      <div class="box2 input-field">
        <form action="/firstyear" method="POST">

          <select name="department" id="department">
            <option value="CS/IT" disabled>Choose department</option>
            <option value="CS/IT">CS / IT</option>
            <option value="EE">EE</option>
            <option value="ECE">ECE</option>
            <option value="ME">ME</option>
            <option value="cE">CE</option>
            <option value="EEE">EEE</option>
          </select>
          <select name="subject" id="subject">
            <option value="CS/IT" disabled>First year</option>
            <option value="PPS">Programming for Problem Solving</option>
            <option value="PE">Professional English</option>
            <option value="BEE">Basic Electrical Engineering</option>
            <option value="M1">Maths I</option>
            <option value="M2">Maths II</option>
            <option value="P">Physics</option>
            <option value="C">Chemistry</option>
          </select>
          <button class="btn waves-effect waves-light" type="submit" name="action">Find
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
    <div class="year">
      <div class="box1">
        <img src="https://www.une.edu/sites/default/files/shared/second-year-plan_1.png" style="width: 100%;"
          alt="SECOND YEAR">

      </div>
      <div class="box2 input-field">
        <form action="/secondyear" method="POST">

          <select name="department" id="department">
            <option value="CS/IT" disabled>Choose department</option>
            <option value="CS/IT">CS / IT</option>
            <option value="EE">EE</option>
            <option value="ECE">ECE</option>
            <option value="ME">ME</option>
            <option value="cE">CE</option>
            <option value="EEE">EEE</option>
          </select>
          <select name="subject" id="subject">
            <option value="" disabled>3rd Sem</option>
            <option value="DS">Data Structures</option>
            <option value="DSTL">Discrete Structures and Theory of Logic</option>
            <option value="ES">Engineering Science</option>
            <option value="COA">Computer Organisation and Architecture</option>
            <option value="TC">Technical Communication</option>
            <option value="CSS">Computer System and Security</option>
            <option value="PP">Python Programming</option>
            <option value="M4">Maths IV</option>
            <option value="UHV">Universal Human Values</option>
            <option value="" disabled>4th Sem</option>
            <option value="OS">Operating Systems</option>
            <option value="TAFL">Theory of automata and Formal Languages</option>
            <option value="FL">Formal Languages</option>
            <option value="WD">Web Designing</option>
          </select>
          <button class="btn waves-effect waves-light" type="submit" name="action">Find
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
    <!-- <div style="display: flex;align-items: center;justify-content: center;margin: 75px 0;">
            <div class="box1">
                <img src="https://www.une.edu/sites/default/files/styles/full_width/public/shared/third-year-plan_0.png?itok=4jex1_TE"
                    style="width: 100%;" alt="THIRD YEAR">

            </div>
            <div class="box2" class="input-field">
                <form action="/thirdyear" method="POST">

                    <select name="department" id="department">
                        <option value="CS/IT">CS / IT</option>
                        <option value="EE">EE</option>
                        <option value="ECE">ECE</option>
                        <option value="ME">ME</option>
                        <option value="cE">CE</option>
                        <option value="EEE">EEE</option>
                    </select>
                    <select name="subject" id="subject">
                        
                    </select>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Find
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
        <div style="display: flex;align-items: center;justify-content: center;margin: 75px 0;">
            <div class="box1">
                <img src="https://www.une.edu/sites/default/files/styles/full_width/public/shared/fourth-year-plan.png?itok=nlehI-h1"
                    style="width: 100%;" alt="FOURTH YEAR">

            </div>
            <div class="box2" class="input-field">
                <form action="/fourthyear" method="POST">

                    <select name="department" id="department">
                        <option value="CS/IT">CS / IT</option>
                        <option value="EE">EE</option>
                        <option value="ECE">ECE</option>
                        <option value="ME">ME</option>
                        <option value="CE">CE</option>
                        <option value="EEE">EEE</option>
                    </select>
                    <select name="subject" id="subject">
                        
                    </select>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Find
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div> -->
  </div>

  <div style="text-align: center;margin: 75px 0;margin-top: 120px;">
    <p>Have a look on others contributions as well.</p>
    <a href="/usercontributions" class="waves-effect waves-light btn">See Contributions<i
        class="material-icons right">remove_red_eye</i></a>
  </div>
  <!-- Floating button -->


  <!-- Footer -->
  
  <%- include("footer") %>


  <script>
    // JS for floating buuton

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });


    // document.addEventListener('DOMContentLoaded', function () {
    //     var elems = document.querySelectorAll('select');
    //     var instances = M.FormSelect.init(elems);
    // });

    const brightness = document.getElementById('brightness');
    const wave = document.getElementById('wave');
    const foot = document.querySelector("footer");
    const navbar = document.querySelector('nav');
    const sidenav = document.querySelector('.sidenav');

    let count = 0;
    brightness.addEventListener("click", () => {

      if (count < 1) {
        count = 1;
        localStorage.setItem("theme", "dark");

      }
      else if (count == 1) {
        count = 0;
        localStorage.setItem("theme", "light");
      }
      setTheme();
    })


    function setTheme() {

      const currentTheme = localStorage.getItem("theme");
      if (currentTheme == "dark") {
        navbar.style.backgroundColor = "#1b262c";
        sidenav.style.backgroundColor = "#1b262c";
        wave.style.backgroundImage = "linear-gradient(to bottom,#1b262c ,#1b262c)";
        foot.style.backgroundColor = "#1b262c";
        brightness.innerHTML = "<i class='fa fa-sun-o' style='color: goldenrod;'></i>"
      }
      else {
        navbar.style.backgroundColor = "#2c7873";
        sidenav.style.backgroundColor = "#2c7873";
        wave.style.backgroundImage = "linear-gradient(to bottom,#2c7873 ,#2c7873)";
        foot.style.backgroundColor = "#323232";
        brightness.innerHTML = "<i class='fa fa-moon-o' style='color: white;'></i>"
      }
    }


    // Js for profile


    let name = document.getElementById("username");
    let chipName = document.getElementById("chipName");
    let mail = document.getElementById("email");
    let picture = document.getElementById("picture");
    let name1 = document.getElementById("username1");
    let chipName1 = document.getElementById("chipName1");
    let mail1 = document.getElementById("email1");
    let picture1 = document.getElementById("picture1");
    let logBtn = document.getElementById("logBtn");
    logBtn.style.display = "none";
    let logBtn1 = document.getElementById("logBtn1");
    logBtn1.style.display = "none";
    let regBtn = document.getElementById("regBtn");
    let regBtn1 = document.getElementById("regBtn1");
    
    // const query = window.location.search.substring(1)

    const query = window.location.href.substr(0, window.location.href.indexOf('#'));
    const token = query.split('email=')[1]
    console.log(token);

    name.innerHTML = "Guest";
    mail.innerHTML = "guest@guest.com";
    picture.setAttribute("src", "https://cdn5.vectorstock.com/i/thumb-large/54/69/male-user-icon-vector-8865469.jpg");

    loadDoc();

    async function loadDoc() {
      const res = await fetch(`/profile/${token}`);
      const data = await res.json();

      console.log(data);
      console.log(data.length);
      if (data != "") {
        let username = data[0].name;
        let email = data[0].email;
        let img = data[0].picture;
        localStorage.setItem("username", username);
        localStorage.setItem("email", email);
        localStorage.setItem("img", img);
      }
      displayProfile();
    }

    function displayProfile() {

      let myUsername = localStorage.getItem("username")
      let myEmail = localStorage.getItem("email");
      let myImg = localStorage.getItem("img");


      //   M.toast({ html: `Welcome ${myUsername} to Jssconnect` });
      chipName.innerHTML = myUsername;
      name.innerHTML = "<i class='material-icons' style='display:inline;margin:9px;'>verified_user</i>"
      name.innerHTML += myUsername;
      mail.innerHTML = "<i class='material-icons' style='display:inline;margin:9px;'>email</i>"
      mail.innerHTML += myEmail;
      picture.setAttribute("src", myImg);
      logBtn.style.display = "block";
      logBtn1.style.display = "block";
      regBtn.style.display = "none";
      regBtn1.style.display = "none";

      chipName1.innerHTML = myUsername;
      name1.innerHTML = "<i class='material-icons' style='display:inline;margin:9px;'>verified_user</i>"
      name1.innerHTML += myUsername;
      mail1.innerHTML = "<i class='material-icons' style='display:inline;margin:9px;'>email</i>"
      mail1.innerHTML += myEmail;
      picture1.setAttribute("src", myImg);
    }


  </script>


</body>

</html>