
   /* Top Header section */
  
    #blog-header{
            font-family:monospace;
            border: 1px solid #7510F7;
            background: #7510F7;
            color:white;
            padding: 40px 20px;
    }
    /* header title */
    #blog-header h2{
    font-family: 'Montserrat', sans-serif;
    }

    .label-container{
      width: 90%;
      margin: 40px auto;
      text-align: center;
    }

    .label-container .label{
      font-size:1.2rem;
      margin: 10px;
      padding: 9px;
    }
      @media screen and (max-width: 1000px) {
        #logoText {
          display: none;
        }
      }

    

      .blogBigBox,
      #userBlogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10%;
        margin-top: 90px;
      }

      @media screen and (max-width: 1100px) {
        .blogBigBox,
        #userBlogs {
          grid-template-columns: repeat(2, 1fr);
          padding: 0 10%;
        }
      }

     

      @media screen and (max-width: 750px) {
        .blogBigBox,
        #userBlogs {
          grid-template-columns: repeat(1, 1fr);
          padding: 0;
        }

        
      }

      .blogBox {
        width: 275px;
        height: 400px;
        /* border: 2px solid blue; */
        box-shadow: 0px 0px 10px 0px black;
        border-radius: 6px;
        margin: 45px auto;
        background-color: rgba(0, 0, 0, 0.54);
        position: relative;
        color: white;
        transition: 1s linear all;
        padding: 20px;
      }

      .blogBox:hover {
        /* cursor: pointer; */
        background-color: rgba(0, 0, 0, 0.7);
      }

      .two {
        display: none;
        /* margin-top: 110px; */
      }

      .blogBox::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: -10;
      }

      #blogOne::before {
        background: url("https://static.vecteezy.com/system/resources/previews/000/464/809/non_2x/vector-businessman-confuse-between-pile-of-books.jpg")
          no-repeat center center/cover;
      }

      #blogTwo::before {
        background: url("https://miro.medium.com/max/1134/1*F4cJeBulfT9-Q1Eap-rO0Q.png")
          no-repeat center center/cover;
      }

      #blogThree::before {
        background: url("https://miro.medium.com/max/1134/1*F4cJeBulfT9-Q1Eap-rO0Q.png")
          no-repeat center center/cover;
      }

      #blogFour::before {
        background: url("https://cdn.pixabay.com/photo/2018/06/08/00/48/developer-3461405__340.png")
          no-repeat center center/cover;
      }

      .socials {
        font-size: 2rem;
        margin: 10px;
      }

      #newsBtn {
        border-radius: 15px;
        padding: 7px;
        font-size: 1.2rem;
        border: 2px solid white;
        cursor: pointer;
        background-color: #434e52;
        color: white;
      }

      #newsBtn:hover {
        filter: saturate(10);
        /* background-color: aqua; */
      }

      .socials:hover {
        filter: saturate(3);
      }

      .myFloatingBtn:hover {
        transform: rotate(360deg);
        transition: 0.7s linear all;
      }

      .day {
        display: none;
      }