
.first-year-container{
    border:14px solid #7510f7;
    margin-top:10px;
    margin-bottom: 100px;
    padding: 20px;
}
#year-heading{
    font-size:5rem;
    margin-top:15px;
    margin-bottom:0px;
    text-align: center;
    color: red;
    font-family: monospace;
}
.booksBox,
  .notesBox {
    border: 4px solid gray;
    border-radius: 4px;
    border-bottom-right-radius: 35px;
    box-shadow: 4px 8px 2px 1px gray;
    border-bottom-width: 5px;
    border-bottom-color: #006a71;
    background: linear-gradient(to bottom left, #006a71, #e4e3e3);
    margin: 20px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    padding: 12px;
    color: white;
    text-align: center;
  }

  .notesBox {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 105, 1) 34%, rgba(0, 212, 255, 1) 100%);
  }

  .booksGrid {
    margin-top: 40px;
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }



  .Bthree {
    width: 200px;
    height: 240px;
    box-shadow: 0px 0px 10px 0px black;
    border-left: 10px solid black;
    margin: 15px;
    margin-top: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .Btwo {
    width: 160px;
    height: 190px;
    background-color: #204051;
    text-align: center;
    position: relative;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .Bone {
    width: 135px;
    border: 3px solid white;
    position: absolute;
    bottom: 25px;
    left: 12px;
    border-radius: 6px;
    font-size: 15px;
    background-color: white;
  }

  .Bthree:hover {
    transform: rotate(-6deg);
    transition: 0.3s;
  }

  .resLink {
    width: fit-content;
    height: fit-content;
  }

  @media screen and (max-width:1000px) {
    .booksGrid {
      padding: 0 10%;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width:540px) {
    .booksGrid {
      padding: 0 10%;
      grid-template-columns: repeat(1, 1fr);
    }
  }