#topMenu , #followingMenu{
    padding: 4px 0%;
    margin: 0;
}

/* #followingMenu .item{
    color: white !important;
} */

#topMenu .item , #followingMenu .item {
    padding: 10px 4px !important;
    margin: 0px 6px !important;
}