#wave{
    display:flex;
    flex-direction:column;
    /* border: 1px solid #7510F7; */
    /* background: #7510F7; */
    color:black;
    padding: 40px 50px;
}
.resources-cover{
    display:flex;border:1px dotted black;padding:1rem;margin-top: 30px;
 }
.cover-img{
    width:50%;
}
#wave h2{
    font-size:3.9rem;
    margin-bottom:30px;
}
#wave p{
    margin-top:60px;
    font-size:1.6rem;
    padding:30px 50px;
}
.year{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:100px;
}


.box1{
    display:flex;
    justify-content:center;
    align-items: center;
}

.box1 img{
    margin-right:100px;
    width:18%
}
.select-form{
    width:500px;
}




  @media only screen and (max-width: 768px) {


    #wave{
        padding:10px 5px
    }
    #wave p{
    margin-top:0px;
    font-size:1.4rem;
    padding:30px 50px;
}
    .cover-img{
      width:100%;
    }
    .resources-cover{
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
  .year{
    flex-direction: column;
  }
  .box1{
      display:flex !important;
      flex-direction: column;
      align-items: center !important;
      justify-content:center !important;
  }
  .form{
       width: 80%;
       min-width: 80px;
    
    /* padding-right: 110px; */
  }
.box1 img{
  /* margin: 0 auto; */
   width:40%;
margin-right:0px;
margin-bottom:50px;
  /* text-align: center; */
}
}